*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width: 375px;
	padding-bottom: 50px;
}
.header{
	width:375px;
	height: 48px;
	padding: 8px 12px;
	display: flex;
}
.search{
	width: 310px;
	height: 32px;
	background-color: #ebecf1;
	font-size: 12px;
	border-radius: 16px;
	color: #999;
	display: flex;
	align-items: center;
}
.icon{
	width: 15px;
	height: 15px;
	background-image: url(../img/search.png);
	background-size: 100%;
	margin: 0 15px;
}
.qiandao{
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.cion{
	width: 26px;
	height: 15px;
	background-image: url(../img/coin.png);
	background-size: 100%;
	animation: xuanzhuan 2s infinite;
}
@keyframes xuanzhuan{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
.cionText{
	font-size: 12px;
	font-weight: 900;
	color:#ffd43b;
}

.iconlist{
	width: 375px;
	height: 142px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.iconItem{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h3{
	font-size: 16px;
	padding: 8px 0;
}
p{
	width: 70px;
	font-size: 12px;
	color: #999;
	text-align: center;
}
.iconItem .icon{
	width: 34px;
	height: 34px;
	background-size: 100%;
}
.icon1{
	background-image: url(../img/icon1.png);
}
.icon2{
	background-image: url(../img/icon2.png);
}
.icon3{
	background-image: url(../img/icon3.png);
}
.banner{
	width: 351px;
	height: 731px;
	border-radius: 10px;
	margin: 0 auto;
	overflow: hidden;
	box-shadow: 0 10px 20px #ccc;
}
.bannerTop{
	width: 351px;
	height: 63px;
	position: relative;
	margin: 0 auto;
}
.banner .bg{
	height: 100%;
	width: 100%;
}
.banner .circle{
	width: 80px;
	height: 80px;
	position: absolute;
	right: 5px;
	bottom: -26px;
}
.bannerList{
	width: 351px;
	height: 163px;
	display: flex;
    flex-wrap: wrap;
}
.bannerItem{
	width: 50%;
	height: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.bannerItem .top{
	display: flex;
	margin: 10px 0px 6px;
}
.bannerItem .top .icon{
	height: 20px;
	width: 20px;
	background-size: 100% 100%;
}
.bannerItem .top .icon1{
	background-image: url(../img/group1.png);
}
.bannerItem .top .icon2{
	background-image: url(../img/group2.png);
}
.bannerItem .top .icon3{
	background-image: url(../img/group3.png);
}
.bannerItem .top .icon4{
	background-image: url(../img/group4.png);
}
.bannerItem .top .tagKuai{
	background-image: url(../img/kuai.png);
	width: 27px;
	height: 12px;
	background-size: 100% 100%;
	margin: 0px 6px;
}
.bannerItem .top .tagDuo{
	background-image: url(../img/duo.png);
	width: 27px;
	height: 12px;
	background-size: 100% 100%;
	margin: 0px 6px;
}
.bannerItem .top .Text{
	font-weight: bold;
	font-size: 15px;
}
.bannerItem .bottom{
	width: 160px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	color: #999999;
	margin-left: 10px;
}
.bannerItem .borderOrange{
	background: rgba(255,126,59,.08);
    color: #ff7e3b;
    border-radius: 10px;
    border: 1px solid rgba(255,126,59,0.5);
	padding: 0 10px;
}
.tesefuwu{
	width: 351px;
	height: 426px;
}
.tesefuwu .header{
	display: flex;
	justify-content: space-between;
	width: 327px;
	height: 48px;
	padding: 15px 0;
	margin: 0 auto;
	border-top: 1px solid #eee;
}
.tesefuwu .header .title{
	font-size: 16px;
	font-weight: bold;
}
.tesefuwu .header .more{
	font-size: 12px;
	color: #999;;
}
.fuwuList{
	width: 351px;
	height: 378px;
	display: flex;
	justify-content: space-between;
	align-content: space-between;
	flex-wrap:wrap;
	padding: 0px 12px;
}
.fuwuItem{
	width: 78.5px;
	height: 115px;
	display: flex;
	flex-direction: column;
	padding: 15px 8px 15px;
	background: hsla(234,9%,79%,.15);
}
.fuwuItem .icon{
	background-image: url(../img/fuwu1.webp);
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.fuwuItem .icon2{
	background-image: url(../img/fuwu2.webp);
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.fuwuItem .icon3{
	background-image: url(../img/fuwu3.webp);
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.fuwuItem .icon4{
	background-image: url(../img/fuwu4.webp);
	width: 32px;
	height: 32px;
	background-size: 100% 100%;
}
.fuwuItem h3{
	font-size: 13px;
}
.fuwuItem p{
	color: #4f5264;
}
.wybtn{
	display: block;
	width: 327px;
	height: 62px;
	background-image: url(../img/weiyibtn.png);
	background-size: 100% 100%;
	margin: 5px auto;
}
.towbtn{
	width: 375px;
	height: 89px;
	display: flex;
	justify-content: space-between;
	margin: 40px 0px;
	padding: 0px 12px;
}
.towbtn a{
	width: 168.5px;
	height: 89px;
	background-size: 100% 100%;
}
.towbtn a:nth-child(1){
	background-image: url(../img/jkBtn.png);
}
.towbtn a:nth-child(2){
	background-image: url(../img/yltBtn.png);
}
.swiper{
	width: 375px;
	height: 100px;
	padding: 0 12px;
	margin: 20px 0px;
}
.swiper img{
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
}
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	display: flex;
	width: 375px;
	height: 50px;
	background-color: #fff;
	opacity: 0.8;
}
.footer .itemIcon{
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.footer .itemIcon .icon{
	width: 25px;
	height: 22px;
	background-image: url(../img/footer-sprite.png);
	background-size: 100%;
	margin: 5px;
}
.footer .itemIcon .icon1{
	background-position: 0px 0px;
}
.footer .itemIcon .icon2{
	background-position: 2px 96px;
}
.footer .itemIcon .icon3{
	background-position: 1px 72px;
}
.footer .itemIcon .icon4{
	background-position: 0px 48px;
}
.footer .itemIcon .icon5{
	background-position: 1px 25px;
}
.footer .itemIcon .text{
	font-size: 12px;
	color: gray;
}